.filters__title {
    color: #34AC40;
    border-bottom: 0.063rem solid #34AC40;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    padding-bottom: 2px;
    margin-top: 0;
}

.filters__group {
    margin-bottom: 16px;
}

.filters__group h4 {
    color: #F46D1B;
    font-weight: bold;
    font-size: 0.75rem;
    display: flex;
}

.filters__group ul {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    list-style: none;
    max-height: 28.5rem;
    overflow-y: auto;
    padding-inline-start: 0px;
    border-bottom: 0.063rem solid #F46D1B;
    color: #666666;
}

.filters__group ul::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.filters__group ul::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #acacac;
}

input[type="checkbox"] {
    appearance: none;
    border: 1px solid #F46D1B;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
}

label {
    font-size: 15px;
    font-weight: lighter;
}

.checkbox-css:checked {
    background-color: #ffffff;
    border-color: #34AC40;
}

.checkbox-css:checked::before {
    content: '\2713';
    /* Ãcone de checkmark */
    display: block;
    text-align: center;
    color: #34AC40;
    font-size: 16px;
    line-height: 16px;
}

.filters__actions {
    display: flex;
    gap: 8px;
    margin-top: 10px
}

.filters__primary {
    width: 7rem;
    height: 2rem;
    background-color: #34AC40;
    color: #f5f5f5;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer
}

.filters__secondary {
    width: 7.65rem;
    height: 2rem;
    background-color: #F46D1B;
    color: #f5f5f5;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer
}

.checkline input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: middle;
    accent-color: #2ecc71;
}

.checkline {
    display: grid;
    grid-template-columns: 16px auto;
    align-items: center;
    column-gap: 8px;
    line-height: 20px;
    min-height: 24px;
    font-weight: lighter;
}

.checkline>span {
    display: block;
    line-height: 20px;
}

@media (max-width: 375px) {
    .checkline {
        column-gap: 6px;
        min-height: 22px;
        line-height: 18px;
    }

    .checkline input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }
}